# =========================
# SISTEMA / GERAL
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITORES / IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo
*~

# =========================
# LOGS
# =========================
*.log

# =========================
# COMPILADOS (GERAL)
# =========================
*.out
*.exe
*.class
*.o
*.so
*.dll
*.a

# =========================
# C / C++
# =========================
*.dSYM/
*.stackdump

# Pastas comuns de build/output
build/
Build/
bin/
Bin/
output/
Output/
out/


# =========================
# JAVA
# =========================
*.jar
*.war
*.ear

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# NODE / JAVASCRIPT
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# GO
# =========================
bin/

# =========================
# RUST
# =========================
target/
Cargo.lock

# =========================
# HASKELL
# =========================
*.hi
*.o
dist/
dist-newstyle/
.cabal-sandbox/

# =========================
# KOTLIN / ANDROID
# =========================
.gradle/
build/

# =========================
# ARQUIVOS TEMPORÁRIOS
# =========================
*.tmp
*.temp

# =========================
# INPUTS / OUTPUTS 
# =========================
input.txt
output.txt